*{
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

body {
    background-color: rgb(60, 60, 100);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: linear-gradient(
        90deg, rgb(100, 100, 140)
        0%,rgb(180, 180, 220) 
        50%,rgb(100, 100, 140) 100%);
}

.form-group {
    display: flex;
    justify-content: center;
    margin: 40px;
    height: 40px;
}

.form-group input {
    width: 60%;
}
